
/*form styles*/

.content-section{
    font-family: 'Nunito', sans-serif;
    color: black;
    width: 500px;
    border:2px solid var(--persimmon);
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    margin: 100px auto;
}



.confirm-btn{
    background-color: var(--persimmon);
    color: #dddddd;
    display: block;
	border: 2px solid #ccc;
	width: 50%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 10px
}

.confirm-btn:hover{
        color: #dddddd;
    background-color: green;

}

